.about-wrapper {
    .card {
        padding: 2.25rem 3rem;
        backdrop-filter: blur(.6rem);
        
        .title {
            font-size: 2rem;
            font-family: var(--font-sans);
            font-weight: bold;
            letter-spacing: -.03em;
            color: var(--color-heading);
        }
    
        .content {
            font-family: var(--font-serif);
            color: var(--color-text);
            
            p {
                margin-bottom: .5em;
                line-height: 1.5em;
            }

            a{
                border-bottom: var(--border-link);
                user-select: text;
            }

            a:hover {
                border-bottom: var(--border-link-hover);
            }
        }
    }
}