%gradient-text {
    color: var(--color-theme);
    background: var(--gradient-theme);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.post {
    margin: 3rem auto;

    &__header {
        &__title {
            font-size: 5.5rem;
            line-height: 6rem;
            font-weight: bold;
            letter-spacing: -.05em;
            color: var(--color-heading);
        }

        &__info--top,
        &__info--bottom {
            display: grid;
            grid-auto-flow: column;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            .date {
                opacity: 0.5;
                font-size: 0.75rem;
                line-height: 0.75rem;
                letter-spacing: 0.5px;
                font-weight: 200;
                color: var(--color-text);
            }

            .avatar-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                height: 60px;
                width: 60px;
                background: var(--gradient-theme);
                cursor: pointer;

                .avatar {
                    border: 5px solid var(--color-bg);
                    border-radius: 50%;
                    height: 56px;
                    width: 56px;
                    background-color: var(--color-bg);

                    img {
                        border-radius: 50%; // safari fix
                    }
                }

                &:hover {
                    .avatar {
                        animation: scaleUp 2s linear infinite;
                    }
                }
            }

            .author-wrapper {
                display: grid;
                gap: .6rem;

                .author {
                    font-family: var(--font-name);
                    font-weight: bold;
                    font-size: 1.1rem;
                    line-height: 1.1rem;
                    @extend %gradient-text;
                }
            }
        }

        &__info--top {
            margin-bottom: 1rem;
        }

        &__info--bottom {
            margin-top: 2.5rem;
            margin-bottom: 4rem;
        }
    }


    &__body {
        padding: 2.25rem 3rem;

        /* HTML Elements */
        p:not(:last-child),
        ol:not(:last-child),
        ul:not(:last-child),
        dl,
        table,
        blockquote {
            font-size: 1.05rem;
            margin-top: 0;
            margin-bottom: var(--space-after-para);
        }

        .gatsby-highlight {
            margin-bottom: var(--space-after-para);
        }

        p+ul,
        p+ol,
        p+.gatsby-highlight {
            margin-top: -.75rem !important;
        }

        // Checkbox
        .task-list-item {
            list-style: none;
        }

        input[type=checkbox] {
            position: relative;
            right: 0;
            bottom: 0;
            left: 0;

            margin: 0.4rem 0.2rem 0.4rem !important;
            outline: 0;
            border: 2px solid var(--color-theme) !important;
            border-radius: 0.1875rem;
            height: 1.25rem;
            width: 1.25rem;

            vertical-align: -0.65rem;
            color: #fff;
            cursor: pointer;
            appearance: none;
            transition: 100ms;

            &::after,
            &::before {
                content: " ";
                transition: 50ms;
                position: absolute;
                background: #fff;
            }

            &::before {
                left: 0.125rem;
                top: 0.375rem;
                width: 0;
                height: 0.125rem;
                transform: rotate(45deg);
            }

            &::after {
                right: 0.5625rem;
                bottom: 0.1875rem;
                width: 0.125rem;
                height: 0;
                transform: rotate(40deg);
                transition-delay: 80ms;
            }

            &:checked {
                background: var(--color-theme);

                &::before {
                    left: 0.0625rem;
                    top: 0.625rem;
                    width: 0.375rem;
                    height: 0.125rem;
                }

                &::after {
                    right: 0.3125rem;
                    bottom: 0.0625rem;
                    width: 0.125rem;
                    height: 0.875rem;
                }
            }
        }

        // Image
        .gatsby-resp-image-wrapper,
        .gatsby-resp-image-figure {
            display: inline-block !important;
            max-width: 100% !important;
        }

        .gatsby-resp-image-figure {
            margin: auto 0;

            .gatsby-resp-image-wrapper {
                display: block !important;
                margin: 0 !important;
            }
        }

        .online-image-figure {
            display: inline-block;
            margin: 0;
            width: fit-content;
            text-align: center;

            figcaption {
                margin-top: .3rem;
                font-size: .875rem;
                font-family: var(--font-serif);
                font-weight: 400;
                line-height: 1.29;
                letter-spacing: .16px;
            }
        }

        .gatsby-resp-image-figcaption {
            margin-top: .3rem;
            font-size: .875rem;
            font-family: var(--font-serif);
            font-weight: 400;
            line-height: 1.29;
            letter-spacing: .16px;
            text-align: center;
            color: var(--color-gray);
        }

        // Link
        a {
            border-bottom: 2px solid var(--color-link);
            font-weight: 500;
            text-decoration: none;
            color: var(--color-theme);

            &:hover {
                background: var(--color-link);
            }
        }

        li>a {
            line-height: 1.5em;
        }

        // Headings
        .heading-anchor {
            display: flex;
            align-items: center;
            opacity: .5;
            border: none;
            height: 100%;
            text-decoration: none;

            &:hover {
                border: none;
            }

            svg {
                height: .5em;
                width: .5em;
                fill: var(--color-theme);
            }
        }

        h2 {
            .heading-anchor {
                svg {
                    visibility: inherit !important;
                }
            }
        }

        h3,
        h4,
        h5,
        h6 {
            .heading-anchor {
                opacity: var(--opacity);

                svg {
                    height: .4em;
                    width: .4em;
                }
            }
        }

        h1+h2 {
            margin-top: 0;
        }

        h2+h3 {
            margin-top: 0;
        }

        h3+h4 {
            margin-top: 0;
        }

        h4+h5 {
            margin-top: 0;
        }

        h5+h6 {
            margin-top: 0;
        }

        // Blockquote
        blockquote {
            margin: 0;
            margin-bottom: 1rem;
            box-sizing: border-box;
            border-left: 0.25em solid var(--color-theme);
            padding: 0.25em 1em;
            font-family: var(--font-serif);
            font-style: normal;

            p {
                margin-block-start: 0;
                margin-block-end: 0;
            }

            cite {
                font-style: italic;
                line-height: 2em;
            }

            code,
            pre {
                font-style: normal;
            }
        }

        // List
        ol,
        ul {
            padding: 0 1rem; // reset
        }

        ol>li,
        ul>li {
            margin: var(--space-list) 0;

            &::marker {
                font-family: var(--font-mono);
                color: var(--color-theme);
            }
        }

        // Custom Blocks
        .custom-block.info,
        .custom-block.danger {
            position: relative;
            padding: 1em;
            margin: 1em 0;
            border-radius: 8px;

            &::before {
                display: flex;
                align-items: flex-start;
                height: 100%;
                font-size: 1.5em;
            }

            .custom-block-heading {
                margin: 0 2rem;
                font-weight: bold;
                font-size: 1.1em;
                color: var(--color-heading);
            }

            .custom-block-body {
                margin: 0 2rem;
            }
        }

        .custom-block.info {
            border-left: 3px solid var(--color-info);
            background: var(--color-info-bg);

            &::before {
                content: "\f05a";
                color: var(--color-info);
            }
        }

        .custom-block.danger {
            border-left: 3px solid var(--color-danger);
            background: var(--color-danger-bg);

            &::before {
                content: "\f071";
                color: var(--color-danger);
            }
        }

        .custom-block.togglelist {
            position: relative;
            padding: 1em;
            user-select: none;

            &::before {
                content: "\f0d7";
                font-size: 1.5em;
                top: .5em;
                left: 0;
                cursor: pointer;
                color: var(--color-theme);
            }

            .custom-block-heading {
                margin: 0 .5em;
                font-weight: bold;
                cursor: pointer;
                user-select: none;
            }

            .custom-block-body {
                display: block;
                margin: 1em;
                border-radius: 8px;
                padding: .5em 1em;
                background: var(--color-hover-bg);
            }
        }

        .custom-block.togglelist--collapsed {
            &::before {
                content: "\f0da";
                top: .5em;
                left: 0;
                cursor: pointer;
                font-size: 1.5em;
                color: var(--color-theme);
            }

            .custom-block-body {
                opacity: 0;
                margin: 0;
                height: 0;
                padding: 0;
                visibility: hidden;
            }
        }

    }

    &__footer {
        display: grid;
        grid-auto-flow: column;
        gap: 3em;
        justify-content: space-between;
        overflow: hidden;
        margin: auto -1rem;
        box-sizing: border-box;
        min-width: 0;
        padding: 8rem 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;

        .prev,
        .next {
            display: grid;
            gap: 1em;
            max-width: 20em;
            padding: 1em;

            .desc {
                display: inline-block;
                font-size: 1em;
                color: var(--color-theme);
            }

            .post-title {
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 1.2rem;
                font-weight: bold;
            }

            &:hover {
                background: var(--color-hover-bg);

                .post-title {
                    @extend %gradient-text
                }
            }
        }

        .next {
            text-align: end;
        }
    }
}

.backtop-wrapper {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 2;
    display: block;
    width: 3rem;
    height: 3rem;
    will-change: transform;
    backface-visibility: hidden;
    transition: 300ms ease-in-out;

    &:hover {
        .backtop {
            opacity: 0.8;
            transform: rotate(0);
        }
    }

    svg {
        color: #fff;
    }

    .backtop {
        display: block;
        opacity: var(--opacity);
        border-radius: 1rem;
        width: 3rem;
        height: 3rem;
        padding: 0.8rem;
        background: var(--gradient-theme);
        transform-origin: bottom left;
        will-change: transform;
        transform: rotate(-15.5deg);
        transition:
            transform .2s ease-out,
            opacity .1s ease-out;
    }
}