$font_heading: var(--font-sans);
$color_heading: var(--color-heading);
$color_description: var(--color-description);

.post-item {
    display: block;
    padding: 20px;

    &__title {
        margin-bottom: 1rem;

        font-size: 1.75rem;
        font-family: $font_heading;
        font-weight: bold;
        line-height: 2.3rem;
        letter-spacing: 0.5px;
        color: $color_heading;
    }

    &__desc {
        padding-bottom: 30px;

        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        color: $color_description;

        p {
            margin: 0;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        opacity: 0.5;

        font-size: 11px;
        font-weight: 200;
        line-height: 14px;
        color: $color_heading;

        >:not(:last-of-type) {
            margin-right: 1rem;
        }

        >.date,
        >.read-time {
            display: flex;
            align-items: center;

            .icon {
                height: 1rem;
                width: 1rem;
                margin-right: 0.3rem;
            }
        }
    }

    &:hover{
        background: none;
    }
}